@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --Green-500: hsl(158, 36%, 37%);
    --Green-700: hsl(158, 42%, 18%);
    --Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%);
}


@media (max-width: 800px){
    .main-container{
        display: flex;
        flex-direction: column;
        max-width: 350px;
        min-height: 700px;
    }
    
    .perfume{
        display: none;
    }

    .perfume-mobile{
        display: block;
        width: 350px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    h1{
        margin-left: 20px;
    }

    label{
        margin-left: 10px;
    }

    p{
        margin-left: 20px;
    }

    .lower{
        margin-left: 20px;
    }

    button{
        margin-left: 20px;
    }
}

@media (min-width: 800px){
    .perfume-mobile{
        display: none;
    }
}


body{
    background-color: var(--Cream);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

label{
    letter-spacing: 6.5px;
    font-family: 'montserrat';
    
}

.main-container{
   width: 600px;
   display: flex;
   align-items: center;
   gap: 50px;
   background-color: var(--White);
   width: 650px;
   height: 455px;
   border-radius: 10px;
}

h1{
    font-family: 'fraunces';
    width: 300px;
    
}

h2{
    color: var(--Green-500);
    font-size: 30px;
}

span{
    text-decoration: line-through;
    color: var(--Grey);
}

p{
    font-family: 'montserrat';
    color: var(--Grey);
    font-weight: 500;
    line-height: 25px;
}

.lower{
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: 'fraunces';
}

.perfume{
    width: 300px;
    margin-top: 5px;
    height: 455px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;    
}



button{
    width: 200px;
    background-color: var(--Green-500);
    color: var(--White);
    border: 0;
    height: 40px;
    border-radius: 5px;
}

button:active{
    background-color: var(--Green-700);
}


.icon{
    margin-right: 10px;
}
